<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= restaurant.name %></title>
  </head>
  <body>
    <main>
      <div class="edit-restaurant">
        <form action="/restaurant/<%= restaurant._id %>" method="POST">
          <label for="email">Email</label>
          <input type="email" name="email" value="<%= restaurant.email %>" />
          <label for="password">Password</label>
          <input type="password" name="password" />
          <label for="name">Name</label>
          <input type="text" name="name" value="<%= restaurant.name %>" />
          <label for="type">Categories</label>
          <input type="text" name="type" value="<%= restaurant.type %>" />
          <label for="description">Description</label>
          <input
            type="text"
            name="description"
            value="<%= restaurant.description %>"
          />
          <label for="imageUrl">Image Url</label>
          <input
            type="text"
            name="imageUrl"
            value="<%= restaurant.imageUrl %>"
          />
          <button class="btn" type="submit">
            Submit changes
          </button>
        </form>
        <form action="/delete-restaurant" method="POST">
          <button type="submit" class="btn">Delete</button>
          <input type="hidden" value="<%= restaurant._id %>" name="id" />
        </form>
      </div>
    </main>
  </body>
</html>
